<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   th:replace="~{/admin/layout::view(~{::title}, ~{::article})}" th:with="active=${active}">
<head>
<meta charset="UTF-8">
<title>Quản lý đơn hàng</title>
</head>
<body>
	<article>
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
			<div>
				<h3 class="fw-bold mb-3">Chi tiết đơn hàng</h3>
				<h6 class="op-7 mb-2"></h6>
			</div>
			<div class="ms-md-auto py-2 py-md-0">
				<a th:href="@{/admin/orders}" class="btn btn-primary btn-round">Quay lại</a>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-12">
	          <div class="card">
	            <div class="card-header">
	              <h4 class="card-title">Chi tiết đơn hàng</h4>
	            </div>
	            <div class="card-body" th:object="${order}">
	              	<div>
                  		<div class="form-group">
                          	<label th:text="${'Mã đơn hàng: #' + order.id}">Tên</label>
                        </div>
                        <div class="form-group">
                          	<label th:text="${'Ngày đặt hàng: ' + #dates.format(order.createdAt,'dd-MM-yyyy')}">Slug</label>
                        </div>

                        <div class="form-group">
                          	<label th:text="${'Tổng tiền: ' + #numbers.formatDecimal(order.total, 1,'COMMA', 0, 'POINT') + 'đ'}">Mô tả</label>
                        </div>

                        <div class="form-group">
                          	<label th:text="${'Phí vận chuyển: ' + #numbers.formatDecimal(order.feeShip, 1,'COMMA', 0, 'POINT') + 'đ'}">Số lượng</label>
                        </div>
                        <div class="form-group">
                          	<label th:text="${'Giảm giá: ' + #numbers.formatDecimal(order.discount, 1,'COMMA', 0, 'POINT') + 'đ'}">Giá</label>
                        </div>
						<div class="form-group">
							<p>
      <span th:if="${order.status == 1}">
         Trạng thái đơn hàng: <span class="text-danger">Chờ xác nhận</span>
      </span>
								<span th:if="${order.status == 2}">
         Trạng thái đơn hàng: Đang xử lý
      </span>
								<span th:if="${order.status == 3}">
         Trạng thái đơn hàng: Đang vận chuyển
      </span>
								<span th:if="${order.status == 4}">
         Trạng thái đơn hàng: <span class="text-danger">Đã giao</span>
      </span>
								<span th:if="${order.status == 5}">
         Trạng thái đơn hàng: Hoàn thành
      </span>
								<span th:if="${order.status == 6}">
         Trạng thái đơn hàng: <span class="text-danger">Hủy</span>
      </span>
							</p>

							<!-- Nút xử lý trạng thái -->
							<div class="form-button-action">
								<a th:if="${order.status == 1}"
								   th:href="@{|/admin/orders/updateStatus/${order.id}/2|}"
								   class="btn btn-primary btn-sm">
									Xác nhận
								</a>
								<a th:if="${order.status == 1}"
								   th:href="@{|/admin/orders/updateStatus/${order.id}/6|}"
								   class="btn btn-danger btn-sm">
									Hủy đơn
								</a>
								<a th:if="${order.status == 2}"
								   th:href="@{|/admin/orders/updateStatus/${order.id}/3|}"
								   class="btn btn-success btn-sm">
									Đang vận chuyển
								</a>
								<a th:if="${order.status == 3}"
								   th:href="@{|/admin/orders/updateStatus/${order.id}/4|}"
								   class="btn btn-outline-success btn-sm">
									Đã giao
								</a>
							</div>
						</div>

					</div>

                  	<h4>Chi tiết đơn hàng</h4>
                  	<div class="table-responsive">
	                <table
	                  id="basic-datatables"
	                  class="display table table-striped table-hover"
	                >
	                  <thead>
	                    <tr>
	                      	<th>#</th>
	                      	<th>Sản phẩm</th>
	                       	<th></th>
	                       	<th>Giá</th>
	                       	<th>Số lượng</th>
	                       	<th>Thành tiền</th>
	                    </tr>
	                  </thead>
	                  <tbody >
	                  	<th:block th:each="orderDetail, st:${order.orderDetails}">
	                  		<tr th:object="${orderDetail}">
		                        <td th:text="${st.count}"></td>
		                        <td>
		                        	<img th:src="@{|/images/${orderDetail.product.image}|}" alt="IMG" width="100" height="100">
		                        </td>
		                        <td th:text="${orderDetail.product.name}"></td>
		                        <td th:text="${#numbers.formatDecimal(orderDetail.price, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>
		                        <td th:text="${#numbers.formatDecimal(orderDetail.quantity, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>
		                        <td th:text="${#numbers.formatDecimal(orderDetail.price * orderDetail.quantity, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>

	                      </tr>
	                  	</th:block>
	                  </tbody>
	                </table>
	              </div>
	            </div>
	          </div>
	        </div>
		</div>
	</article>
</body>
</html>