<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout::view(~{::title}, ~{::article})}" th:with="active=${active}">
<head>
	<meta charset="UTF-8">
	<title>Order Management</title>
</head>
<body>
<article>
	<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
		<div>
			<h3 class="fw-bold mb-3">Order Management</h3>
			<h6 class="op-7 mb-2"></h6>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Order List</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="basic-datatables" class="display table table-striped table-hover">
							<thead>
							<tr>
								<th>Order ID</th>
								<th>Order Date</th>
								<th>Customer</th>
								<th>Shipping Address</th>
								<th>Shipping Fee</th>
								<th>Discount</th>
								<th>Total</th>
								<th>Payment Method</th>
								<th>Status</th>
								<th width="15%">Actions</th>
							</tr>
							</thead>
							<tbody>
							<th:block th:each="order:${orders}">
								<tr th:object="${order}">
									<td th:text="*{id}"></td>
									<td th:text="${#dates.format(order.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></td>
									<td th:text="*{fullName} + ' ' + *{phoneNumber}"></td>
									<td th:text="*{shipAddress}"></td>
									<td th:text="${#numbers.formatDecimal(order.feeShip, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>
									<td th:text="${#numbers.formatDecimal(order.discount, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>
									<td th:text="${#numbers.formatDecimal(order.total, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>
									<td th:text="${order.paymentMethod==1?'VietQR (Paid)':'COD'}"></td>
									<th th:switch="*{status}">
										<span th:case="1">Pending Confirmation</span>
										<span th:case="2">Processing</span>
										<span th:case="3">Shipping</span>
										<span th:case="4">Delivered</span>
										<span th:case="5">Completed</span>
										<span th:case="6">Cancelled</span>
									</th>
									<td>
										<div class="form-button-action">
											<a th:href="@{|/admin/orders/detail/*{id}|}" data-bs-toggle="tooltip" title="View Details" class="btn btn-link btn-black btn-lg" data-original-title="View Details">
												<i class="fa fa-eye-slash"></i>
											</a>
											<!--                                                <a th:if="*{status}==1" th:href="@{|/admin/orders/updateStatus/*{id}/2|}" data-bs-toggle="tooltip" title="Confirm" class="btn btn-link btn-primary btn-lg" data-original-title="Confirm">-->
											<!--                                                    <i class="fa fa-check-square"></i>-->
											<!--                                                </a>-->
											<!--                                                <a th:if="*{status}==1" th:href="@{|/admin/orders/updateStatus/*{id}/6|}" data-bs-toggle="tooltip" title="Cancel Order" class="btn btn-link btn-danger btn-lg" data-original-title="Cancel">-->
											<!--                                                    <i class="fa fa-recycle"></i>-->
											<!--                                                </a>-->
											<a th:if="*{status}==2" th:href="@{|/admin/orders/updateStatus/*{id}/3|}" data-bs-toggle="tooltip" title="Shipping" class="btn btn-link btn-success btn-lg" data-original-title="Shipping">
												Shipping
											</a>
											<a th:if="*{status}==3" th:href="@{|/admin/orders/updateStatus/*{id}/4|}" data-bs-toggle="tooltip" title="Delivered" class="btn btn-outline-success btn-lg" data-original-title="Delivered">
												Delivered
											</a>
										</div>
									</td>
								</tr>
							</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" th:value="${message}" id="message">
		<script type="text/javascript">
			let message = document.getElementById('message').value;
            if(message){
                swal("Notification", message, "success");
            }
		</script>
	</div>
</article>
</body>
</html>
