<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{/layout::view(~{::title},~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Sản phẩm yêu thích</title>
</head>
<body>
<main>
  <!-- breadcrumb -->
  <div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
      <a th:href="@{/}" class="stext-109 cl8 hov-cl1 trans-04">
        Home
        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
      </a>

      <span class="stext-109 cl4">
				Checkout
			</span>
    </div>
  </div>

  <!-- Shoping Cart -->
  <form class="bg0 p-t-75 p-b-85" id="formpayment" th:action="@{carts/checkout}">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
          <div class="m-l-25 m-r--38 m-lr-0-xl">
            <div class="wrap-table-shopping-cart">
              <table class="table-shopping-cart">
                <tr class="table_head">
                  <th class="text-center" width="5%"> </th>
                  <th class="column-1">Product</th>
                  <th class="column-2"></th>
                  <th class="column-3">Price</th>
                  <th class="column-4">Quantity</th>
                  <th class="column-5">Total</th>
                  <th class="text-center" width="5%"> </th>
                </tr>
                <th:block th:each="cartDetail:${cartDetails}">
                  <tr class="table_row cart-item">
                    <td class="text-center">
                      <input type="checkbox" class="m-l-10 form-check product-checkbox" name="ids" th:value="${cartDetail.id}"></input>
                    </td>
                    <td class="column-1">
                      <div class="how-itemcart1">
                        <img th:src="@{|/images/${cartDetail.product.image}|}" alt="IMG">
                      </div>
                    </td>
                    <td class="column-2" th:text="${cartDetail.product.name}"></td>
                    <td class="column-3 product-price" th:attr="data-price=${cartDetail.product.price}" th:text="${#numbers.formatDecimal(cartDetail.product.price, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>
                    <td class="column-4">
                      <label th:if="${errorQuantity==cartDetail.id}" class="text-danger">So luong khong du</label>
                      <div class="wrap-num-product flex-w m-l-auto m-r-0">
                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                          <i class="fs-16 zmdi zmdi-minus"></i>
                        </div>

                        <input class="mtext-104 cl3 txt-center num-product quantity" type="number" name="quantity" th:value="${cartDetail.quantity}">
                        <input class="mtext-104 cl3 txt-center idCartDetail" type="hidden" name="id" th:value="${cartDetail.id}">
                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                          <i class="fs-16 zmdi zmdi-plus"></i>
                        </div>
                      </div>
                    </td>
                    <td class="column-5 line-total" th:text="${#numbers.formatDecimal(cartDetail.product.price *cartDetail.quantity, 1, 'COMMA', 0, 'POINT') + 'đ'}">0 đ</td>
                    <td>
                      <a th:href="@{|/carts/remove/${cartDetail.id}|}" class="text-danger">
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                </th:block>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
          <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
            <h4 class="mtext-109 cl2 p-b-30">
              Cart Totals
            </h4>

            <div class="flex-w flex-t bor12 p-b-13">
              <div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
              </div>

              <div class="size-209">
								<span class="mtext-110 cl2" id="totalAmount" >
									0 đ
								</span>
              </div>
            </div>

            <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
              <!-- Customer Info -->
              <div class="flex-w flex-tp-b-13">
                <div class="size-208">
                  <span class="stext-110 cl2" style="white-space: nowrap;">
                    Customer Info:
                  </span>
                </div>
              </div>

              <div class="p-t-15">
                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15"
                         type="text" id="customerName" name="customerName" placeholder="Full Name" required>
                </div>

                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15"
                         type="text" id="customerPhone" name="customerPhone" placeholder="Phone Number" required>
                </div>

                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15"
                         type="email" id="customerEmail" name="customerEmail" placeholder="Email" required>
                </div>
              </div>

              <div class="size-208">
                  <span class="stext-110 cl2" style="white-space: nowrap;">
                    Delivery address:
                  </span>
              </div>

              <div class="p-t-15">

                <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                  <select class="js-select2" name="provinceSelect" id="provinceSelect">
                    <option value="">--City--</option>

                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
                <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                  <select class="js-select2" name="districtSelect" id="districtSelect" disabled>
                    <option value="">--District--</option>

                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
                <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
                  <select class="js-select2" name="wardSelect" id="wardSelect" disabled>
                    <option value="">--Ward--</option>

                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" id="address" name="address" placeholder="Address">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="hidden"  id="fullAddress"  name="fullAddress" placeholder="Address">
                </div>


              </div>
            </div>
            <!-- Voucher -->
            <div class="p-t-15 p-b-30">
              <label class="stext-110 cl2" for="voucher">Voucher:</label>
              <div class="rs1-select2 rs2-select2 bor8 bg0 m-t-10">
                <select class="js-select2" name="voucher" id="voucher">
                  <option value="">-- Chọn Voucher --</option>
                  <option th:each="voucher : ${vouchers}"
                          th:value="${voucher.id}"
                          th:data-percent="${voucher.discountPercent}"
                          th:text="${voucher.code + ' - ' + voucher.discountPercent + '%'}">
                  </option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
            </div>

            <!-- Payment method -->
            <div class="p-t-15 p-b-30">
              <label class="stext-110 cl2" for="paymentMethod">Payment method:</label>
              <div class="rs1-select2 rs2-select2 bor8 bg0 m-t-10">
                <select class="js-select2" name="paymentMethod" id="paymentMethod">
                  <option value="COD">COD</option>
                  <option value="VIETQR">VietQR</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
            </div>


            <!-- Hiển thị VietQR -->
            <div id="vietqr-section" class="text-center p-t-15" style="display:none;">
              <h5>Quét mã VietQR để thanh toán</h5>
              <img id="vietqr-img" src="" alt="VietQR" style="max-width:250px; border:1px solid #ccc; padding:10px; border-radius:10px;">
              <p class="stext-111 cl6 p-t-10">Sử dụng ứng dụng ngân hàng để quét mã</p>
            </div>



            <div class="flex-w flex-t p-t-27 p-b-33">
              <div class="size-209">
								<span class="mtext-101 cl2">
									Fee ship:
								</span>
              </div>

              <div class="size-208 p-t-1">
								<span class="mtext-110 cl2" id="shippingFee">
									0 đ
								</span>
              </div>

              <div class="size-209">
								<span class="mtext-101 cl2">
									Discount:
								</span>
              </div>

              <div class="size-208 p-t-1">
								<span class="mtext-110 cl2 text-danger" id="discountAmount">
									0 đ
								</span>
              </div>

              <div class="size-209">
								<span class="mtext-101 cl2">
									Total:
								</span>
              </div>

              <div class="size-208 p-t-1">
								<span class="mtext-110 cl2" id="paymentAmount">
									0 đ
								</span>
              </div>
            </div>

            <a  href="#payment" id="btn-payment" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
              Place an order
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script type="text/javascript" th:src="@{/js/cart.js}"></script>
  <script type="text/javascript" th:src="@{/js/ghn-api.js}"></script>
</main>
</body>
</html>