<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{/layout::view(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm yêu thích</title>
</head>
<body>
<main>
    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a th:href="@{/}" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
				Shoping Cart
			</span>
        </div>
    </div>

    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85" id="formpayment" th:action="@{carts/checkout}">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="text-center" width="5%"> </th>
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">Quantity</th>
                                    <th class="column-5">Total</th>
                                    <th class="text-center" width="5%"> </th>
                                </tr>
                                <th:block th:each="cartDetail:${cartDetails}">
                                    <tr class="table_row cart-item">
                                        <td class="text-center">
                                            <input type="checkbox" class="m-l-10 form-check product-checkbox" name="ids" th:value="${cartDetail.id}"></input>
                                        </td>
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img th:src="@{|/images/${cartDetail.product.image}|}" alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2" th:text="${cartDetail.product.name}"></td>
                                        <td class="column-3 product-price" th:attr="data-price=${cartDetail.product.price}" th:text="${#numbers.formatDecimal(cartDetail.product.price, 1, 'COMMA', 0, 'POINT') + 'đ'}"></td>
                                        <td class="column-4">
                                            <label th:if="${errorQuantity==cartDetail.id}" class="text-danger">So luong khong du</label>
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product quantity" type="number" name="quantity" th:value="${cartDetail.quantity}">
                                                <input class="mtext-104 cl3 txt-center idCartDetail" type="hidden" name="id" th:value="${cartDetail.id}">
                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5 line-total" th:text="${#numbers.formatDecimal(cartDetail.product.price *cartDetail.quantity, 1, 'COMMA', 0, 'POINT') + 'đ'}">0 đ</td>

                                    </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
                            </div>

                            <div class="size-209">
								<span class="mtext-110 cl2" id="totalAmount" >
									0 đ
								</span>
                            </div>
                        </div>
                        <a  th:href="@{/carts}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Proceed to Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
    <script type="text/javascript" th:src="@{/js/ghn-api.js}"></script>
</main>
</body>
</html>